name: Platform Linting and Tests

on:
  workflow_call:

jobs:
  platform-linting-and-tests:
    name: Platform Linting and Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./platform
    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          working-directory: ./platform

      - name: Generate prisma client
        run: pnpm db:generate

      - name: Type checking, linting, formatting checks
        run: pnpm check:ci
